div {
    display: block;
    unicode-bidi: isolate;
}
.footer-title {
    font-family: "Archivo", sans-serif;
    font-size: larger;
    font-weight: 700;
}
.ed-title{
    color:blue;
    font-weight: 700;
}
.text-muted{
    color: #6c757d !important;
    font-family: "Archivo", sans-serif;
}
.footer{
    background-color: #f3f4f5;
    flex-grow: 0;
    padding-top: 15px;
    text-align: left;
}