.edit-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  
    .h1 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input,
      select,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
  
        &:focus {
          border-color: #0A2558;
          outline: none;
        }
      }
  
      textarea {
        height: 100px;
      }
    }
  
    button {
      width: 100%;
      padding: 10px;
      background-color: #0A2558;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #073e8c;
      }
    }
  
    .current-image {
      margin: 10px 0;
      text-align: center;
  
      img {
        max-width: 100%;
        border-radius: 4px;
      }
    }
  }
  